@import "tailwindcss";

body {
  font-family: "Caveat", cursive;
  
}
* {
  color: black;
}
/* Responsive, her ekranda güvenli */
*{
  margin: 0;
  padding: 0;
  
}
.compo {
  width: 94vw;
  height: auto; /* aşırı küçük ekranlarda taşmayı önler */
  min-height: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pixelart{
    position: absolute;

}
/* İstersen çok küçük ekranlarda biraz daha esneklik */


.pixelart {
  width: 100%;
  height: 100%;
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
